{% extends 'base.html.twig' %}

{% block title %}Tipsy Pyramid - Log-in{% endblock %}

{% block body %}

    <h1>Log-in</h1>

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Login</button>
        <a href="/register">Sign-up</a>
    {{ form_end(loginForm) }}
{% endblock %}