{% extends 'base.html.twig' %}

{% block title %}Tipsy Pyramid - Play!{% endblock %}

{% block body %}
<main>
    <div class="row">
                <div class="col-sm-2">
                <h2>Menu Pyramid </h2>
            </div>
            <div class="col-sm-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Play</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">log-out</a>
                    </li>
                </ul>
                <span class="navbar-text">
        Nom d'utilisateur
      </span>
            </div>
        </div>
    </nav>
            <table>
            </table>
            </div>
    </div>
</main>
{% endblock %}

