{% extends 'base.html.twig' %}

{% block title %}
	Tipsy Pyramid - Play!
{% endblock %}


{% block body %}
	<div id="card{{card.id}}">
		<img src="{{asset("img/#{card.img}")}}" alt="">
	</div>
{% endblock %}
